body{

padding:0px;
    margin:0px;
   background-color: rgb(240, 240, 240);
    color:rgb(19, 16, 16);
    

}
p{
padding:0;
font-size: large;
text-align: center;
font-weight: 1000;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-style: inherit;
}
button{
     height:80px;
    margin:10px;
    text-align: center;
    width:100px;
    color: white;
    background-color: rgb(37, 48, 148);
    border-radius: 20px;
}

